@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 30px;
	
	background-color: #545454;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
}

/*O primeiro div filho do header*/
header > div {
	margin-left: 8px
}

/*Uso sinal de jogo da velha quando quero me referir a um ID específico do HTML*/
#conteudo {
	padding: 0px 8px
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}

#login-dialog {
	width: 390px;
	margin: auto;
	margin-top: 150px;	
}


/*Uso ponto quando quero declarar uma classe CSS*/
.grid-login {
	background-color:#f2f2f2;
	border-radios: 8px;		/*Quanto maior, mais arredondadas serão as bordas*/
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}

.rotulo {
	width: 150px;
}

/*ui-panelgrid é uma classe CSS do primefaces. Aqui estamos incrementando uma customização nela 
para que todo TD renderizado no browser assuma estas configurações */
.ui-panelgrid td {
	height: 30px;
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

/* ------------------- Inicio - Customização campo input text "Produto" - Cadastro de pedido ------------------- 
Estilos  ".produto-tabela" e ".produto-tabela input" utilizados para que o campo input text "Produto" seja 
   renderizados com o tamanho adequado de 100%, na grid Itens no cadastro de produto */
.produto-tabela {
	width: 99% !important;
}
.produto-tabela input {
	width: 100% !important;
}
/* ------------------- Fim - Customização campo input text "Produto" - Cadastro de pedido ------------------- */

/* ------------------- Inicio - Customização TabView ------------------- */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.2em !important;
}

.ui-tabs {
    padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
    margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0px !important;
}
/* ------------------- Fim - Customização TabView ------------------- */


/* ------------------- Inicio - Customização Menu sistema ------------------- */
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #ffffff !important;
}

.menu-sistema .ui-icon-triangle-1-s {
    background: url(#{resource['images:seta-para-baixo.png']}) no-repeat !important;
}
/* ------------------- Fim - Customização Menu sistema ------------------- */


/* ------------------- Inicio - Customização estilo campos desabilitados ------------------- */
.ui-state-disabled {
	opacity: .80 !important;
}

/* ------------------- Fim - Customização estilo campos desabilitados ------------------- */