# Compiled files and Eclipse IDE configuration files
/src/.metadata
/src/.recommenders
/src/RemoteSystemsTempFiles
/src/Servers
/src/PedidoVenda/target
/src/PedidoVenda/.settings
*.classpath
*.project
*.tern-project